*{
    margin:0;
    padding:0;
    font-family: "Poppins", sans-serif; /* Apply Poppins font to all elements */  
}  

.poppins-thin {  
  font-weight: 100;  
}  

.poppins-extralight {  
  font-weight: 200;  
}  

.poppins-light {  
  font-weight: 300;  
}  

.poppins-regular {  
  font-weight: 400;  
}  

.poppins-semibold {  
  font-weight: 600;  
}  

.poppins-bold {  
  font-weight: 700;  
}  

.header /* adds image to bg and color */
{  
 min-height: 100vh;
 width:100%;
 background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/background.jpg);
 background-position: center;
 background-size: cover;
 position:relative
}

nav /* moves the navigation section to the top */
{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: top;
}

nav img  /* icon size */
{
  width:200px
}

.nav-links /*aligns navigation links to the right */
 {
    flex: 1;
    text-align: right;
}

.nav-links ul li  /*makes the nav link align horizontally*/
{
    list-style: none;
    display: inline-block;
    padding :8px 12px;
    position:relative;

}

.nav-links ul li a  /* edits color of the nav links and removes the underlines*/
{ 
    color:#fff;
    text-decoration: none;
    font-size: 14px;
}

.nav-links ul li::after /*Underline after effects*/
{
    content: '';
    width:0%;
    height: 2px;
    background :#90ee90;
    display: block;
    margin: auto;
    transition: width 0.3s;
}

.nav-links ul li:hover::after  /* changes underline color on hover*/
{
    width: 100%;
}

.text-box /*aligns the texts to the middle*/
{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.text-box h1{
    font-size: 60px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;

}

.hero-btn  /* button css */
{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border:1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover
{
    border:1px solid  #215721 ;
    background:  #215721;
    transition: 0.4s;
}

nav .fa{
    display: none;
}

@media(max-width:700px) /*makes the website responsive in small devices*/
{
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links {
        position: fixed;/*prevents mobile menu from showing up*/
        background: #215721;
        height: 100vh;
        width: 200px;
        top:0;
        right: -200px;/*makes menu stay hidden*/
        text-align: left;
        z-index: 2;
        transition: right 0.3s;
    }
    nav .fa{
        display: block;
        font-size: 22px;
        color: #fff;
        margin: 10px;
        cursor:pointer;
    }
    .nav-links ul{
        padding: 30px;
    }

}

/* produce*/

.produce /*takes produce texts to the center*/
{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.produce h1{
    font-size: 36px;
    font-weight: 600;
}


.produce p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}
.produce-col{
    flex-basis: 31%;
    background: #d3ffd1;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition:  0.3s;
}


